@{
    ViewData["Title"] = "Home";
}

<div class="row text-center">
    <h1 style="font-size: 4em;">Classy Wines......</h1>
    <p class="text-muted">Come check out catologue of fine wines..... </p>
    <a asp-action="Shop" asp-controller="Wines" class="btn btn-primary btn-lg">Browse our catalogue.....</a>

    <div class="container-fluid">

        <section id="about">

            <div class="row">

                <div class="col-sm-12 col-sm-6 col-md-3">
                  <i class="fa fa-4x fa-check text-primary"></i>
                    <h3>Exclusive wines.</h3>
                    <p class="text-muted">We offer only exclusive wines.....</p>
                </div>

                <div class="col-sm-12 col-sm-6 col-md-3">
                    <i class="fa fa-4x fa-ship text-primary"></i>
                    <h3>Ready to Ship.</h3>
                    <p class="text-muted">We ship all over the World.....</p>
                </div>

                <div class="col-sm-12 col-sm-6 col-md-3">
                    <i class="fa fa-4x fa-mobile-phone text-primary"></i>
                    <h3>Mobile friendly</h3>
                    <p class="text-muted">Responsive design for mobile devices.....</p>
                </div>

                <div class="col-sm-12 col-sm-6 col-md-3">
                    <i class="fa fa-4x fa-heart text-primary"></i>
                    <h3>Made with love.</h3>
                    <p class="text-muted">.....and grapes. mosty grapes.....</p>
                </div>

            </div>

        </section>

    </div>

    <section id="portafolio">
        @Html.Partial("__IndexPartial")

    </section>

    <section id="contact">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="section-heading">Lest's get in touch!</h1>
                <hr/>
                <p>Give us a call and order some of our fine beverages already!</p>
            </div>

            <div class="col-md-4 col-md-offset-2 text-center">
                <i class="fa fa-4x fa-mobile-phone text-primary"></i>
                <p>+034 693 66 19 95</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-4x fa-envelope text-primary"></i>
                <p><a href="mailto:barrera_emilio@hotmail.com">barrera_emilio@hotmai.com</a>
                </p>
            </div>

        </div>
    </section>

</div>
